@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen  and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  } */

html{
    font-size: 16px;
    --font-size:16px;
    --sidebar-size:340px;
}

@media (min-width: 0) and (max-width: 60em) {
    html{
        font-size: 12px;
        --font-size:12px;
        --sidebar-size:260px;
    }
}
  
  
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::selection {
    color: rgb(0, 0, 0);
    background: rgb(168, 168, 168);
}

* {
    scrollbar-color: #75757542#42424242 ;
}
::-webkit-scrollbar {
    height: 12px;
    width: 18px;
    background: #61616142;
}

::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.199);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.btn {
    background-color: #3c3c3c96;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffffad;
    line-height: 10px;
    padding-inline: 2px;
    transition: "background-color" 0.2s;
}

.btn:hover {
    background-color: #5a5a5a96;
}

.btn:active{
    background-color: rgba(0, 0, 0, 0.315);
}

h3{
    font-size: larger;
}

input, select, button, .equation {
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(126, 126, 126, 0.356);
    outline-style: none !important;
    outline-width: 1px !important;
    line-height: 1.4em;
}

textarea{
    border: none;
    overflow: hidden;
    background-color: transparent;
    outline-style: inset !important;
    line-height: 1.4em;
}
 input:focus, select:focus{
    outline-style: inset !important;
    /* border: 2px rgba(179, 179, 179, 0.623) solid; */
    background-color: rgb(22, 22, 22) !important;
}
textarea{
    resize: none ;
}



/* remove arrows */
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }