@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-moz-selection, ::selection {
    color: rgb(0, 0, 0);
    background: rgb(168, 168, 168);
}

* {
    scrollbar-color: #ffffff42 rgba(150, 150, 150, 0.199);
}
::-webkit-scrollbar {
    height: 12px;
    width: 18px;
    background: rgba(150, 150, 150, 0.199);
}

::-webkit-scrollbar-thumb {
    background: #ffffff42;
}

::-webkit-scrollbar-corner {
    background: #000;
}

.btn {
    background-color: #3c3c3c96;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffffad;
    line-height: 10px;
    padding-inline: 2px;
    transition: "background-color" 0.2s;
}

.btn:hover {
    background-color: #5a5a5a96;
}

.btn:active{
    background-color: rgba(0, 0, 0, 0.315);
}

h3{
    font-size: larger;
}



/* remove arrows */
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }